<div class="panel panel-info book-card" onclick={{action 'zoomCard'}}>
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <ul>
            {{#each notes as |note|}}
                <li>{{note}}</li>
            {{/each}}
        </ul>
    </div>
</div>
